.login {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}
div .btn-color {
    background-color: black;
}
div .btn-color:hover{
    background-color: rgb(151, 219, 132);
    color: black;
}
div .btn-color .icon {
    padding-left: 20px;
    height: 20px;
}
