.title-container {
    margin: 20px 50px 20px 0;
    .title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 50px 50px;

        h1 {
            font-size: 40px;
        }
        h3 {
            color: grey;
            margin-top: 7px;
        }
    }

        .card-body {
            display: flex;
            flex-direction: column;
            flex: 1 0 auto;
            align-items: flex-start;
            // justify-content: start;
        }
        .actions {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 16px;
        }
    
}
